<%= form_for(@soccer) do |f| %>
  <% if @soccer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@soccer.errors.count, "error") %> prohibited this soccer from being saved:</h2>

      <ul>
      <% @soccer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
    <%= f.text_field :team_a, placeholder: "Mannschaft A" %> vs.
    <%= f.text_field :team_b, placeholder: "Mannschaft B" %>
  </div>
  <div class="field">
    <%= f.label :round %><br />
    <%= f.select :round, soccer_rounds, selected: @soccer.round, :prompt => "Runde auswählen" %>
  </div>
  <div class="field">
    <%= f.label :group ,"Gruppe" %><br />
    <%= f.text_field :group %>
  </div>
  <div class="field">
    <%= f.label :place, "Platz" %><br />
    <%= f.select :place, available_places, selected: @soccer.place, :prompt => "Platz auswählen" %>

  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :startime, "Spielbeginn" %><br />
    <%= f.datetime_select :startime %>
  </div>

  <div class="actions">
    <%= f.submit 'Sichern', class: "btn btn-primary" %>
  </div>
<% end %>
