<h1>Listing soccers</h1>

<table>
  <tr>
    <th>Team a</th>
    <th>Team b</th>
    <th>Round</th>
    <th>Group</th>
    <th>Place</th>
    <th>Duration</th>
    <th>Startime</th>
    <th>Endtime</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @soccers.each do |soccer| %>
  <tr>
    <td><%= soccer.team_a %></td>
    <td><%= soccer.team_b %></td>
    <td><%= soccer.round %></td>
    <td><%= soccer.group %></td>
    <td><%= soccer.place %></td>
    <td><%= soccer.duration %></td>
    <td><%= soccer.startime %></td>
    <td><%= soccer.endtime %></td>
    <td><%= link_to 'Show', soccer %></td>
    <td><%= link_to 'Edit', edit_soccer_path(soccer) %></td>
    <td><%= link_to 'Destroy', soccer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Soccer', new_soccer_path %>
