<% @header = "Spiel #{@soccer.team_a} vs. #{@soccer.team_b}" %>

<p id="notice"><%= notice %></p>

<p>
  <b>Spiel: </b>
  <%= @soccer.team_a %> vs.
  <%= @soccer.team_b %>
</p>

<p>
  <b>Round:</b>
  <%= @soccer.round %>
</p>

<p>
  <b>Group:</b>
  <%= @soccer.group %>
</p>

<p>
  <b>Place:</b>
  <%= @soccer.place %>
</p>

<p>
  <b>Beginn</b>
  <%= @soccer.startime.strftime("%d.%m.%Y - %H:%M") %> <br>
  <b>Spieldauer:</b>
  <%= @soccer.duration %>
</p>



<%= link_to 'Edit', edit_soccer_path(@soccer), class: "btn btn-default" %>
<%= link_to 'Back', soccers_path, class: "btn btn-default" %>
