<% @header = "Sportwettbewerbe" %>

<div>
	<div class="box pull-left">
		<%= link_to(image_tag("soccer.svg", class: "img-thumbnail"), soccers_path ) %> <br>
		<span>Fu&szlig;ball</span>
	</div>
	<div class="box pull-left">
		<%= link_to(image_tag("cricket.svg", class: "img-thumbnail"), crickets_path ) %> <br>
		<span>Cricket</span>
	</div>
	<div class="box pull-left">
		<%= link_to(image_tag("basketball.svg", class: "img-thumbnail"), basketballs_path ) %> <br>
		<span>Basketball</span>
	</div>
	<div class="box pull-left">
		<%= link_to(image_tag("volleyball.svg", class: "img-thumbnail"), volleyballs_path ) %> <br>
		<span>Volleyball</span>
	</div>
	<div class="box pull-left">
		<%= link_to(image_tag("volleyball.svg", class: "img-thumbnail"), international_volleyballs_path ) %> <br>
		<span>Int. Volley</span>
	</div>	
	<div class="box pull-left">
		<%= link_to(image_tag("kabaddi.svg", class: "img-thumbnail"), '#' ) %> <br>
		<span>Kabaddi</span>
	</div>
	<div class="box pull-left">
		<%= link_to(image_tag("tauziehen.svg", class: "img-thumbnail"), '#' ) %> <br>
		<span>Tauziehen</span>
	</div>		

	<span class="clearfix"></span>
	<hr>

	<div class="box pull-left">
		<%= link_to(image_tag("table-tennis.svg", class: "img-thumbnail"), '#' ) %> <br>
		<span>Tischtennis</span>
	</div>	
	<div class="box pull-left">
		<%= link_to(image_tag("badminton.svg", class: "img-thumbnail"), '#' ) %> <br>
		<span>Badminton</span>
	</div>	
	<div class="box pull-left">
		<%= link_to(image_tag("weight.svg", class: "img-thumbnail"), '#' ) %> <br>
		<span>Bankdr&uuml;cken</span>
	</div>
	<div class="box pull-left">
		<%= link_to(image_tag("arm.svg", class: "img-thumbnail"), '#' ) %> <br>
		<span>Armfesthalten</span>
	</div>

	<span class="clearfix"></span>
	<hr>	

	<div class="box pull-left">
		<%= link_to(image_tag("swimming.svg", class: "img-thumbnail"), '#' ) %> <br>
		<span>Schwimmen</span>
	</div>
	<div class="box pull-left">
		<%= link_to(image_tag("running.svg", class: "img-thumbnail"), '#' ) %> <br>
		<span>Sprint</span>
	</div>		
	<div class="box pull-left">
		<%= link_to(image_tag("jump.svg", class: "img-thumbnail"), '#' ) %> <br>
		<span>Weitsprung</span>
	</div>
	<div class="box pull-left">
		<%= link_to(image_tag("kugel.svg", class: "img-thumbnail"), '#' ) %> <br>
		<span>Kugelsto&szlig;en</span>
	</div>	



</div>