<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, id: "wysihtml5-textarea", class: "form-control", placeholder: "Enter text ..." %>
  </div>
  <div class="actions">
    <%= f.submit 'Sichern', class: "btn btn-primary" %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){

    $('#wysihtml5-textarea').each(function(i, elem) {
      $(elem).wysihtml5();
    });

  })
</script>