<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :zone %>
    <%= f.text_field :zone %>
  </div>
  <div class="field">
    <%= f.label :region %>
    <%= f.select :region, all_regions, selected: @player.region, :prompt => "-- Region auswählen --" %>
  </div>
  <div class="actions">
    <%= f.submit 'Sichern', class: "btn btn-primary" %>
  </div>
<% end %>
