<% @header = "Spieler" %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<p>
  <b>Zone:</b>
  <%= @player.zone %>
</p>

<p>
  <b>Region:</b>
  <%= @player.region %>
</p>


<%= link_to 'Edit', edit_player_path(@player), class: "btn btn-primary" %> 
<%= link_to 'Back', players_path, class: "btn btn-primary" %>
