<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/images/favicon/favicon-152.png">

<!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/favicon/favicon-144.png">

<!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/images/favicon/favicon-120.png">

<!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/favicon/favicon-114.png">

<!-- For first- and second-generation iPad: -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/favicon/favicon-72.png">

<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
<link rel="apple-touch-icon-precomposed" href="/assets/images/favicon/favicon-57.png">


    <title>Ijtema App</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
        <div class="snap-drawers">
            <div class="snap-drawer snap-drawer-left">
                <div>
                    <h3><%= link_to 'Ijtema', root_url %></h3>
                    <div class="demo-social">
                        <span><%= link_to(image_tag("youtube_logo.png", height: '32'), "http://www.youtube.com/user/MKADeutschland/videos") %></span>
                        <span><%= link_to(image_tag("twitter_logo.png", height: '32'), twitter_path) %></span>
                        <span><%= link_to(image_tag("instagram_logo.png", height: '32'), instagram_path) %></span>
                    </div>
                    <h4><%= link_to 'Programmübersicht', events_path %></h4>
                    <h4>Atfal-ul-Ahmadiyya</h4>
                    <h4><%= link_to 'Wissenswettbewerbe', all_competition_path %></h4>
                    <h4><%= link_to 'Sportwettbewerbe', all_games_path %></h4>
                    <ul>
                        <li><%= link_to 'Fußball', soccers_path %></li>
                        <li><%= link_to 'Cricket', crickets_path  %></li>
                    </ul>
                    <h4 style="margin-top:0 !important;"><%= link_to 'About', about_path %></h4>
                    <ul>
                        <li><a href="#">Feedback</a></li>
                    </ul>

                    <div class="text-center text-muted">
                        <p class="muted"><em>created with <span class="glyphicon-heart glyphicon"></span> in Darmstadt</em></p>
                    </div>
                </div>
            </div>
            <div class="snap-drawer snap-drawer-right"></div>
        </div>
        
        <div id="content" class="snap-content">
            <div id="toolbar">
                <a href="#" id="open-left"></a>
                <h1><%= @header || "Ijtema 2013" %></h1>
            </div>
        
        <span="alert notice"><%= notice %><%= alert %></span>
        <%= yield %>
        </div>
        
</body>
</html>
